body {
    font-family: 'Inter', sans-serif;
    margin-top: 126px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: #1C1C1C;
}

h1 {
    font-weight: 800;
    color: #e0e0e0;
}

#head-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #33658a;
    width: 550px;
    height: 285px;
    border-radius: 5px 5px 0 0;
}
#button-group {
    display: flex;
    flex-direction: row;
}
#input-field{
    text-align: center;
    width: 117px;
    height: 83px;
    margin-top: 18px;
    font-size: 58px;
    font-weight: 800;
    background: #273549;
    color: #e0e0e0;
    border: #e0e0e0 solid 2px;
    border-radius: 5px;

}
button {
    margin: 0 10;
    width: 117px;
    height: 42px;
    color: #273549;
    background: #e0e0e0;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
}

#output {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1F2937;
    width: 550px;
    height: 170px;
    border-radius: 0 0 5px 5px;
}

h2 {
    padding-top: 6px;
    font-size: 20px;
    font-weight: 600;
    color: #CCC1FF;

}

p {
    font-size: 14px;
    font-weight: 500;
    color: #e0e0e0
}

.results {
    width: 500px;
    height: 110px;
    background: #273549;
    margin-top:30px;
    border-radius: 5px;
}
